body {
    color: #2e2f42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

input {
    border-radius: 4px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
    margin-right: 8px;

  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;


    padding-left: 16px;
}

input:hover {
border: 1px solid #fff;;
}

input:active {
border: 1px solid #fff;;
}

input:disabled {
border: 1px solid #fafafa;;
}

button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  

border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;

background: #4e75ff;
 border: none;

  cursor: pointer;
  margin-bottom: 24px;
 
  /* justify-content: center;
  align-items: center; */


  /* border: none;

  cursor: pointer; */
}

button:hover {
background: #6c8cff;
}

button:disabled {
  color: #989898;
  background: #cfcfcf;
}

.timer {
  display: flex;
  width: 355px;
justify-content: space-around;
}

.field {
display: flex;
flex-direction: column;
padding-left: 16px;
align-items: center;
}

.value {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.04em;
color: #2e2f42;
}

.label {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-transform: uppercase;
}